{% extends 'base.html' %}

{% block body %}
    <div class="mt-5">
        <div class="row">
            <div class="col-lg">
                <h2>All users: </h2>
                <small class="form-text text-muted">For visitors: delete and add as many as you wish</small>
                <ul class="flex-column">
                    {% for elem in users %}
                        <li class="alert form form-control">
                            <h4>User data: </h4>
                            <p>Username: {{ elem.username }}</p>

                            <!--<small id="pas" class="form-text text-muted">Hashed via SHA-256</small>-->
                            <p>Password: Hidden</p>
                            <p>Admin: {{ elem.is_admin }}</p>
                            <p>Registered: {{ elem.reg_date.date() }}</p>
                            <a href="/show-user/remove/{{ elem.id }}" class="btn btn-danger">Remove user</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}